<a href="https://colab.research.google.com/github/micahjoseph/SQL-/blob/main/SQL_Fundamentals_II_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

#SOLUTION

In [ ]:
SELECT customer_id, SUM(amount)
FROM payment
WHERE staff_id=2
GROUP BY customer_id
HAVING SUM(amount) >110;

# <b> Question 2 :  How many films begin with the letter J?

#SOLUTION

In [ ]:
SELECT title
FROM film
WHERE title LIKE 'J%';

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

In [ ]:
SELECT customer_id, first_name, last_name, address_id
FROM customer
WHERE address_id <500 AND first_name LIKE ‘E%’
ORDER BY customer_id DESC;